<input type="checkbox" id="menu">
<label for="menu">Menu</label>
<nav class="navbar wrapper">
    <ul>
        {% assign navigation = site.pages | sort:"order" %}
        {% for current_page in navigation %}
            {% if current_page.title %}
                {% if current_page.title != 'Login' %}
                    <li>
                        <a href="{{ site.baseurl }}{{ current_page.url }}">{{ current_page.title }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <hr>
    <ul>
        <li>
            <a id="login-btn" href="{{ site.baseurl }}login/">Login</a>
        </li>
    </ul>
</nav>