---
layout: post
permalink: /posts/
title: Blog
order: 2
---

<section class="posts">
    {% for post in site.posts %}
        <article class="post">
            <a href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a>
            {% if post.imgurl %}
                <img src="{{ post.imgurl}}" alt="">
            {% else %}
                <h4>No photo</h4>
            {% endif %}
            {% if post.description %}
                <p>{{ post.description }}</p>
            {% else %}
                <h4>No description</h4>
            {% endif %}
            <div class="footer-post">
                <p><i class="fas fa-calendar-alt"></i> {{ post.posted-on}}</p>
            </div>
        </article>
    {% endfor %}
</section>