header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, var(--dark-bg-color), var(--dark-bg-color)),
    url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header .left-header {
    width: calc(100% - 27%);
}

header .right-header {
    width: 27%;
    height: 70ch;
    background-color: var(--dark-bg-color);
    box-shadow: 0 0 7px var(--text-dark-bg-color);;
}

header .right-header h2 {
    width: fit-content;
    margin: 2em auto 4em auto;
    text-align: center;
    font-size: 2em;
    color: var(--text-light-color);;
    text-shadow: 0 0 7px #000;
    z-index: 100;
    text-transform: uppercase;
    position: relative;
    border-bottom: 2px solid var(--text-light-color);;
    border-left: 2px solid var(--text-light-color);;
    border-right: 2px solid var(--text-light-color);;
}

header .right-header h2::after {
    content: '';
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 70px;
    border-right-width: 70px;
    border-top: 70px solid var(--text-light-color);;
    position: absolute;
    left: 50%;
    bottom: calc(-70px);
    transform: translateX(-50%);
}

header .right-header form {
    text-align: center;
    color: var(--text-light-color);;
    padding: 0 2em;
}

header .right-header form input {
    width: 100%;
    padding: 1em;
    border-radius: 2em;
    border: 2px solid #dbdbdb;
    margin-top: 1em;
    box-shadow: 0 2px 7px var(--text-dark-bg-color);;
    outline: none;
}

header form button {
    width: 100%;
    border-radius: 2em;
    border: 2px solid transparent;
    padding: 1em 0;
    margin-top: 2em;
    color: #3895ff;
    background-color: var(--text-light-color);;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

header form button:hover {
    color: var(--text-light-color);;
    background-color: transparent;
    border: 2px solid var(--text-light-color);;
}

header .social-links {
    margin: 2em 0;
    justify-content: center;
}

header .social-links li a i {
    padding: 0.7em 1em;
    color: var(--text-light-color);;
    transition: background-color 0.2s ease-in-out;
    border-radius: 2em;
}

header .social-links li a {
    margin: 0 0.2em;
}

header .social-links li a i:hover {
    background-color: var(--text-light-color);;
    color: #3895ff;
    box-shadow: 0 2px 7px var(--text-dark-bg-color);;
}

.main-header {
    position: absolute;
    left: 10%;
    top: 27%;
    color: var(--text-light-color);
    display: flex;
    flex-direction: column;
}

.main-header h1,
.main-header p {
    opacity: 0;
    transform: translateX(20em);
    text-shadow: 0 0 7px var(--text-dark-bg-color);;
}

.main-header p {
    margin: 1em 0;
}

.main-header a {
    width: fit-content;
    margin: 2em auto;
    padding: 1.7em 2em;
    border: none;
    border-radius: 4em;
    color: var(--text-light-color);;
    background-color: var(--dark-bg-color);
    transition: box-shadow 1s ease-in-out, background-color 1s ease-out;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.main-header a:last-child {
    font-size: 2em;
    background-color: transparent;
    padding: 0.2em;
}

.main-header a:hover {
    box-shadow: 0 2px 2px var(--text-dark-bg-color);;
    background-color: var(--text-light-color);;
    color: #3895ff;
}