header ul {
    list-style-type: none;
    display: flex;
}

header nav.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    box-shadow: 0 0 7px #00000022;
    transform: translateY(-2em);
    opacity: 0;
}

header nav.navbar ul li a {
    text-decoration: none;
    padding: 0.6em 0.6em;
    display: block;
    transition: background-color 0.2s ease-in;
    background-color: var(--text-light-bg-color);
    border-radius: 0.2em;
    color: var(--text-light-color);
}

header nav.navbar ul li a:hover {
    background-color: var(--text-dark-color);
}

header nav.navbar ul li {
    opacity: 0;
    transform: translateY(-2em);
    padding: 0.6em 0.6em;
}