ul {
    list-style-type: none;
    display: flex;
}

nav.navbar ul li a {
    text-decoration: none;
    padding: 0.6em 0.6em;
    display: block;
    transition: background-color 0.2s ease-in;
    background-color: var(--text-light-bg-color);
    border-radius: 0.2em;
}

nav.navbar ul li {
    opacity: 0;
    transform: translateY(-2em);
    padding: 0.6em 0.6em;
}

nav.navbar ul li:nth-child(1) { animation-delay: 0.2s; }
nav.navbar ul li:nth-child(2) { animation-delay: 0.4s; }

nav.navbar ul li a:hover {
    background-color: var(--text-dark-bg-color);
    color: var(--text-light-color);
}

nav.navbar ul {
    background-color: var(--text-light-bg-color);
}