html {
    font-family: var(--font-family-text);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
}

h1 {
    font-size: 2.7em;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}