:root {
    --font-family-heading: Verdana, Geneva, Tahoma, sans-serif;
    --font-family-text: Arial, sans-serif;
    --text-light-color: #fff;
    --light-bg-color: #3895ff67;
    --text-dark-bg-color: #00000099;
    --light-bg-color: #3895ff67;
    --dark-bg-color: #0077ff99;
    --black-bg-color: #222;
}