:root {
    --font-family-heading: Verdana, Geneva, Tahoma, sans-serif;
    --font-family-text: Arial, sans-serif;
    --text-light-color: #fff;
    --text-light-bg-color: #ffffff77;
    --text-dark-bg-color: #00000099;
}