.left-header label {
    position: absolute;
    right: 0;
    padding: 1em 0.5em;
    background-color: var(--text-light-color);
    margin: 1em;
    border-radius: 2em;
    z-index: 10;
}

header ul {
    display: flex;
    padding: 0;
}

.left-header nav.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    box-shadow: 0 0 7px #00000022;
    transform: translateY(-2em);
    opacity: 0;

    hr {
        display: none;
    
        @include bp(mobile) {
            display: block;
            width: 70%;
            height: 2px;
            margin: 0 auto;
            background-color: $main-box-color;
            border: none;
        }
    }
}

.left-header input[type=checkbox] {
    display: none;
}

@include bp (desktop) {
    .left-header label {
        display: none;
    }
}

@include bp (mobile) {
    .left-header input:checked ~ nav {
        width: 100%;
        background-color: $index-bg-box-color;
        z-index: 9;
        display: block;
        position: fixed;

        ul {
            display: block;
            text-align: center;
        }
    }

    .left-header nav.navbar {
        display: none;
    }
}

.left-header nav.navbar ul li a {
    text-decoration: none;
    padding: 0.6em 0.6em;
    display: block;
    transition: background-color 0.2s ease-in;
    background-color: var(--text-light-bg-color);
    border-radius: 0.2em;
    color: var(--text-light-color);
}

.left-header nav.navbar ul li a:hover {
    background-color: var(--text-dark-color);
}

.left-header nav.navbar ul li {
    opacity: 0;
    transform: translateY(-2em);
    padding: 0.6em 0.6em;
}