@import url('https://fonts.googleapis.com/css?family=Alata|Calistoga&display=swap');

html {
    font: 20px/1.4 var(--font-family-text);
    scroll-behavior: smooth;
    @include bp(desktop) {
        font-size: 20px;
    }

    @include bp(mobile) {
        font-size: 18px;
    }

    @include bp(phone) {
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    padding: 1em;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

input, label, button, p, a, ol, ul, textarea {
    padding: 1em 0;
    font: inherit;
}

blockquote, ul, ol {
    padding-left: 2em;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    opacity: 0;
    animation: show-in-main 1s forwards;
}

blockquote p {
    font-style: italic;
}

img {
    width: 100%;
    height: auto;
}

@keyframes show-in-main {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}