.first-section {
    h2 {
        text-align: center;
    }
    
    p {
        text-align: center;
        color: $blog-post-content-color;
    }
    
    article {
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-top: 2em;

        h2 {
            padding: 0;
            padding-bottom: 0.7em;
            font-size: 1em;
            letter-spacing: 1px;
        }

        p {
            padding-top: 0.7em;
        }

        @include bp (mobile) {
            display: block;
            width: 90%;

            .box-content {
                p, h2 {
                    text-align: center;
                }
            }
            
            .media {
                text-align: center;
                padding-top: 1em;
            }
        }

        &:nth-child(odd) > .media {
            order: 2;
        }

        @include bp(desktop) {
            &:nth-child(odd) > .box-content {
                padding: 0;
                padding-right: 2em;

                h2, p {
                    text-align: right;
                }
            }
            
            &:nth-child(even) > .box-content {
                padding: 0;
                padding-left: 2em;
                
                h2, p {
                    text-align: left;
                }
            }
        }
        
        @include bp(phone) {
            .box-content {
                padding: 0;

                h2, p {
                    text-align: center;
                }
            }
        }
        
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 10px solid $index-content-color;
            transition: box-shadow 0.2s ease-in-out;

            &:hover {
                box-shadow: 0 0 0 7px rgba(0, 0, 0, .2);
            }
        }
    }
}