body {
    background-color: $contacts-body-color;
}

.contacts-form {
    background-color: $contacts-container-color;
    width: 90%;
    margin: 2em auto;

    .content {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2em;

        p {
            color: $contacts-content-color;
        }
    }
}

.contacts-form form {
    width: 90%;
    margin: 0 auto;
}

.contacts-form > h2 {
    text-align: center;
}

.contacts-form input,
.contacts-form textarea,
.contacts-form button {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1em 2em;
    outline: none;
}

.contacts-form label {
    color: var(--black-bg-color);
    text-transform: uppercase;
}

.contacts-form input,
.contacts-form textarea {
    border: 1px solid var(--dark-gray-color);
}

.contacts-form input:hover,
.contacts-form textarea:hover,
.contacts-form input:focus,
.contacts-form textarea:focus {
    border: 1px solid var(--dark-bg-color);
}

.contacts-form button {
    text-transform: uppercase;
    background-color: var(--dark-bg-color);
    color: var(--text-light-color);
    cursor: pointer;
    border: none;
    transition: background-color 1s ease-in;
}

.contacts-form button:hover {
    background-color: transparent;
    color: var(--dark-bg-color);
}