footer {
    background-color: var(--black-bg-color);
    color: var(--text-light-color);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-links {
    text-align: center;
}

footer .social-links h4 {
    margin-bottom: 1em;
}

footer .social-links .links {
    display: flex;
}

footer .social-links .links li {
    margin: 0 10px;
}

footer .social-links .links li a i {
    display: block;
    padding: 1em;
    background-color: var(--black-bg-color);
    border-radius: 2em;
    color: #fff;
    transition: background-color 0.7s ease-in-out, transform 0.2s ease-out;
}

footer .social-links .links li a i:hover {
    background-color: var(--dark-bg-color);
    transform: scale(1.07);
}

@media only screen and (max-width: 600px) {
    footer .wrapper {
        flex-direction: column-reverse;
    }

    footer .social-links {
        margin: 2em 0;
    }
}