main {
    section.posts {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 2em;
        
        article {
            width: calc(50% - 2em);
            height: auto;
            border-top: none;
            padding: 1em;
            margin: 1em;
            box-shadow: 0 0 7px $blog-post-box-shadow-color;
            transition: transform 0.2s ease-in, border-radius 0.7s ease-in-out;
            
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 20px $blog-post-box-shadow-color;
                border-radius: 2em;

                img {
                    width: 100%;
                }
            }

            h4 {
                text-align: center;
            }

            a {
                color: $blog-post-title-color;
                h2 {
                    padding-left: 0;
                    
                    @include bp (mobile) {
                        text-align: center;
                    }
                }
            }

            @include bp (mobile) {
                width: 100%;
            }

            p {
                color: $blog-post-content-color;
                transition: color 0.7s ease-in;
            }
    
            img {
                width: 100%;
                height: auto;
            }
            
            &:hover > p {
                color: $blog-post-content-color-hover;
            }

            .footer-post {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2em 0 0 0;

                .fas {
                    color: $index-bg-box-color;
                }

                a {
                    padding: 0.7em 1em;
                    background-color: $index-bg-box-color;
                    color: $blog-post-light-content-color;
                    transition: background-color 0.2s ease-out;

                    &:hover {
                        background-color: transparent;
                        color: $index-bg-box-color;
                    }
                }
            }
        }
    }
}