@import url('https://fonts.googleapis.com/css?family=Alata|Calistoga&display=swap');

html {
    font-family: var(--font-family-text);
    scroll-behavior: smooth;
    font-family: var(--font-family-text);

    @include bp(large) {
        font-size: 20px;
    }
    
    @include bp(desktop) {
        font-size: 18px;
    }
    
    @include bp(mobile) {
        font-size: 16px;
    }
    
    @include bp(phone) {
        font-size: 14px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
}

h1 { font-size: 2.7em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

input, label, button, p, a, ol, ul {
    font-size: inherit;
}

blockquote, ul, ol {
    padding-left: 2em;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    padding: 2em;
}

main {
    opacity: 0;
    animation: show-in-main 1s forwards;
}

blockquote p {
    font-style: italic;
}

@keyframes show-in-main {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}