@import url('https://fonts.googleapis.com/css?family=Alata|Calistoga&display=swap');

html {
    font-family: var(--font-family-text);
    scroll-behavior: smooth;

    @include bp(large) {
        font-size: 20px;
    }
    
    @include bp(desktop) {
        font-size: 18px;
    }
    
    @include bp(mobile) {
        font-size: 16px;
    }
    
    @include bp(phone) {
        font-size: 14px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
}

h1 { padding: 1.2em 0; }
h2 { padding: 1em 0; }
h3 { padding: 0.8em 0; }
h4 { padding: 0.6em 0; }
h5 { padding: 0.4em 0; }
h6 { padding: 0.2em 0; }

input, label, button, p, a, ol, ul {
    font-size: inherit;
}

blockquote, ul, ol {
    padding-left: 2em;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    opacity: 0;
    animation: show-in-main 1s forwards;
}

blockquote p {
    font-style: italic;
}

@keyframes show-in-main {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}