//SASS Variables

$blog-post-heading-color: #86cfff;
$blog-post-content-color: #222222;
$blog-post-content-color-hover: #101010;
$blog-post-box-shadow-color: #dddddd77;
$blog-post-box-shadow-hover-color: #aaaaaa77;
$blog-post-light-content-color: #ffffff;
$blog-border-color: #777777;

$main-body-color: #ddd;
$main-box-color: #ffffff;
$main-content-color: #222222;
$main-content-light-color: #ffffff;
$main-button-color: #0066ff;
$main-button-hover-color: #fffff2;
$main-heading-bg-color: #0066ff;
$main-heading-color: #ffffff;
$contacts-content-hover-color: #ffffff;
$contacts-input-hover-color: #0077ff;
$index-content-color: #f3f3f3;
$index-bg-box-color: #0099ff;
$index-bg-dark-color: #ffffff;

//CSS Variables

:root {
    --font-family-heading: 'Calistoga', cursive, sans-serif;
    --font-family-text: 'Alata', sans-serif;
    --text-light-color: #fff;
    --text-dark-color: #00000099;
    --light-bg-color: #ffffff;
    --dark-bg-color: #0077ff99;
    --black-bg-color: #222;
    --gray-color: #ccc;
    --text-dark-color: #3895ff;
    --light-gray-color: #f0f0f0;
    --dark-gray-color: #c0c0c0;
    --close-btn-color: #0077ff;
}