<div class="wrapper">
    <p>&copy; All rights reversed</p>
    <ul class="social-links">
        <h4>Social</h4>
        <div class="links">
            <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
            <a href="#"><i class="fab fa-github"></i></a>
            </li>
        </div>
    </ul>
    <p>Privacy Policy</p>
</div>