<input type="checkbox" id="menu">
<label for="menu">Menu</label>
<nav class="navbar wrapper">
    <ul>
        {% assign navigation = site.pages | sort:"order" %}
        {% for page in navigation %}
        {% if page.title %}
        <li>
            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul>
        <li>
            <a id="login-btn" href="#">Login</a>
        </li>
        <li>
            <a href="#">Sign in</a>
        </li>
    </ul>
</nav>