<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/blog/site-blog.css">
  </head>
  <body>
    <div class="blog-container wrapper">
      <header>
        {% include navigation-blog.html %}
      </header>
      <main>
        {{ content }}
      </main>
      <footer class="posts-footer">
        {% include navigation-blog.html %}
        <p>&copy; All rights reversed.</p>
      </footer>
    </div>
  </body>
</html>